/* ============================
   Night Sky Background & Stars
   ============================ */
.fade-slide-enter-active,
.fade-slide-leave-active {
    transition: all 0.5s ease;
}

.fade-slide-enter-from {
    opacity: 0;
    transform: translateX(30px);
}

.fade-slide-leave-to {
    opacity: 0;
    transform: translateX(-30px);
}


.night-sky {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(135deg, #1c0082, #250dad, #4d55ca, #b57edc);
    overflow: hidden;
}

.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 1;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
    opacity: 0;
    animation: twinkle 3s infinite ease-in-out;
}

@keyframes twinkle {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

/* ============================
   Progress Gradient Animation
   ============================ */
.progress-section .q-linear-progress {
    width: 60%;
    margin: 0 auto;
    height: 10px;
    border-radius: 10px;
    background: #f3e8ff;
}

/* Animated Gradient for Progress */
@keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}